# LOCALIZATION
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us
d-i time/zone string Asia/Kolkata
d-i clock-setup/ntp boolean false

# NETWORK
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string local
d-i netcfg/hostname_force boolean true
d-i netcfg/choose_interface select auto
d-i netcfg/wireless_wep string

# USER ACCOUNT
d-i passwd/root-login boolean false
d-i passwd/user-fullname string TK
d-i passwd/username string tushar
d-i passwd/user-password password tushar
d-i passwd/user-password-again password tushar
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

# DISK PARTITIONING (Parallels M1 Strategy)
d-i anna/choose_modules string partman-auto
d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-efi/non_efi_system boolean false
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-auto/confirm boolean true
d-i partman-auto/confirm_nooverwrite boolean true

# PACKAGE SELECTION
# d-i apt-setup/use_mirror boolean true
# d-i apt-setup/services-select multiselect security, updates
d-i apt-setup/non-free-firmware boolean true
d-i hw-detect/load_media boolean true

# Standard system tools + SSH Server
# tasksel tasksel/first multiselect standard, ssh-server
# d-i pkgsel/run_tasksel boolean true
# d-i pkgsel/include string sudo, curl, openssh-server, build-essential

# 6. BOOTLOADER & FINISH
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/force-efi-extra-removable boolean true
d-i finish-install/reboot_in_progress note
popularity-contest popularity-contest/participate boolean false